-e ../gridworks-innovations/gridworks-flo
../gridworks-data/dist/gw_data-0.3.0-py3-none-any.whl
python-multipart
asyncpg
psycopg[binary]>=3.1
pandas>=2.3.3
numpy>=2.3.3
async-timeout
pendulum
sqlalchemy>=2.0.44
fastapi
uvicorn
pytz
python-dotenv
httpx
pydantic>=2.0.0
python-jose[cryptography]
matplotlib
plotly
passlib[bcrypt]
pydantic-settings
reportlab
