BACKEND_JOURNAL_DB_PASSWORD=PASSWORD
BACKEND_BACKOFFICE_DB_PASSWORD=PASSWORD
BACKEND_ACCESS_TOKEN_SECRET=SECRET

BACKEND_RABBIT_URL=amqp://USERNAME:PASSWORD@HOST:5672/VHOST
BACKEND_GATEWAY_PORT=8100

BACKEND_RUNNING_LOCALLY=False
