BACKEND_JOURNAL_DB_PASSWORD=PASSWORD
BACKEND_BACKOFFICE_DB_PASSWORD=PASSWORD
BACKEND_ACCESS_TOKEN_SECRET=SECRET
BACKEND_RABBIT_PASSWORD=PASSWORD

BACKEND_RUNNING_LOCALLY=False

BACKEND_ALERT_MANAGER_URL=http://localhost:8000
BACKEND_ALERT_MANAGER_TOKEN=
